body {
	background-color: #d5e8ef;
	font-family: 'Indie Flower', cursive;
}

h1 {
	justify-content: left;
}

h2 {
	justify-content: left;
}

.nav {
	list-style: none;
	clear: both;
}

.col-md-3 {
}

.col-md-8 {
}

.images img {
	max-width: 75%;
	margin: 5%
}

.images p {
	text-align: center;
}

