body {
	background-color: #d5e8ef;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
}

h1 {
	justify-content: left;
}

h2 {
	justify-content: left;
}

ul li {
	list-style: none;
	clear: both;
	text-align: left;
}

ul {
	justify-content: left;
}

.images img {
	max-width: 75%;
	margin: 5% auto;
}

.images p {
	text-align: center;
}

footer {
	padding: 5%;
	text-align: right;
}

@media (max-width: 720px) {
	.images img {
		margin: auto;
	}
}



