body {
	background: url('https://lh3.googleusercontent.com/XX9oYzW9kVviQy2wFzKzOJu2CIAWm00Fu4E4L1033Ul3dAe9ttc95kM-dOJQ23pc9newfh_U799Cz_QzW8kUYo1ru68U95yYzyXMXkRHrSIQ0gdXodQGoe7pzmhMpoFdN354z8PUeUs0ojctcorNxb8B31P0aiD-iYYsnp1_rHNePp0MsuNK0OcIRksn7Y5Ci2T7Q9cS48PuY1GmeL2QhHQSiCIMeLh2seQF78jd-oceC0AARye1lZ0xIs0esawbxu3jN1T51TvRx27S_2ey4H8BbxLD3lNHofU8kJY_VXJr_pl8bWRGEjPQdF962a2QxEIZWhrsPyZaMX4xJRlqtW7N6oyNyatKNx_Sv9uP7sWrdsc0HU89YE9IuO9Qpx3DE9_F3-flzMSGRF-VTW53F-xw1loQDxTV-i6nO5mfMg6xUAMQwYFmDMJxE141IhOqPH637Ad2jLohfE5BmIrk5tRC3HyZ618esACq-zGU1nzx5OWtar-NXA9KDkmoAAxNQ7sXGP_rC-Kz_RqWywkvybJBqm0ufPhjonqsc6AD2NbwxAoay0U7NMVSdTW1TGldFl8lP2B9JXCf0jm_CAPbiu4dTPJ7jVTMRdjzBBplNGaXpWSo=w1878-h1410-no') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	/*color: #a4a6aa;*/
}

.page-header {
	color: #dadee5;
}

h1 {
	justify-content: left;
}

h2 {
	justify-content: left;
}

ul li {
	list-style: none;
	clear: both;
	text-align: left;
}

ul {
	justify-content: left;
}

.images img {
	max-width: 75%;
	margin: 5% auto;
}

.images p {
	text-align: center;
}

.about-me {
	margin-top: 15px;
}

.links {
	color: #dadee5;
}

footer {
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	color: #dadee5;
}

@media (max-width: 720px) {
	.images img {
		margin: auto;
	}
}
